body{
    background-color: rgb(221, 156, 112);
}

h1{
    font-size: 10vw;
    font-family: 'Franklin Gothic Medium';
    color: whitesmoke;
    text-align: center;

}
p{
    font-family: 'Franklin Gothic Medium';
    color: whitesmoke;
    text-align: center;
}
#V60{
    size: 5vw;
    margin-top: 30%;
    align-items: center;
}